In [4]:
import pandas as pd
import altair as alt

In [10]:
books = ["crusoe", "dracula", "iliad", "mare-balena", "midsummer-nights-dream", "quijote", "valley-fear", "war-peace"]
reals = [6245, 9425, 8925, 5670, 3136, 23034, 5829, 17475]
hyperlog = []
recard = []
for i in range(0,len(books)):
    data = pd.read_csv("./hyperlogBench/" + books[i] + ".txt", header=None)
    hyperlog.append(data.loc[:, 0].mean())

hyperlog

[np.float64(6410.90245508982),
 np.float64(9668.474191616768),
 np.float64(9159.63608782435),
 np.float64(5699.538522954092),
 np.float64(3172.24375249501),
 np.float64(23531.85848303393),
 np.float64(5900.911616766467),
 np.float64(18305.65988023952)]

In [7]:
pd.read_csv("./hyperlogBench/" + books[0] + ".txt", header=None)

            0
0    91813.00
1     6496.06
2     6178.33
3     5633.92
4     6536.03
..        ...
496   5999.75
497   6535.08
498   6605.34
499   6356.06
500   6166.97

[501 rows x 1 columns]