In [4]:
import pandas as pd
import altair as alt

In [17]:
books = ["crusoe", "dracula", "iliad", "mare-balena", "midsummer-nights-dream", "quijote", "valley-fear", "war-peace"]
reals = [6245, 9425, 8925, 5670, 3136, 23034, 5829, 17475]
hyperlog = []
record = []
for i in range(0,len(books)):
    df_hyper = pd.read_csv("./hyperlogBench/" + books[i] + ".txt", header=None)
    df_record = pd.read_csv("./recordBench/" + books[i] + ".txt", header=None)
    hyperlog.append(df_hyper.loc[:, 0].mean())
    record.append(df_record.loc[:, 0].mean())

full_df = pd.DataFrame( 
    {
        "Book": books,
        "HLL": hyperlog,
        "REC": record,
        "Real": reals,
        
    }
)
full_df

                     Book          HLL          REC   Real
0                  crusoe   6253.05066   6260.56030   6245
1                 dracula   9511.72002   9428.67200   9425
2                   iliad   8945.83658   8924.53890   8925
3             mare-balena   5672.20204   5671.89582   5670
4  midsummer-nights-dream   3134.23598   3140.93786   3136
5                 quijote  23206.26140  22844.64600  23034
6             valley-fear   5824.53612   5795.28462   5829
7               war-peace  17432.53660  17470.56700  17475

In [24]:
dracula_hyper = pd.read_csv("./hyperlogBench/" + books[1] + ".txt", header=None)
dracula_record = pd.read_csv("./recordBench/" + books[1] + ".txt", header=None)

In [32]:
dracula_hyper = dracula_hyper.rename(columns={0: "cardinality"})

In [34]:

hist = alt.Chart(dracula_hyper).mark_bar().encode(x = "cardinality",
                                                  bin = alt.BinParams(maxbins = 30),
                                             y = 'count()',
                                                 )

hist.show()

TypeError: _EncodingMixin.encode() got an unexpected keyword argument 'bin'