In [2]:
import pandas as pd
import altair as alt

In [28]:

oneChoiceHundredBins = []
for i in range (1,5):
    n = 10**i
    oneChoiceHundredBins.append(pd.read_csv("./mandatoryExperiments/oneChoiceHundredBins/oneChoice" + f"{n}" + ".txt", header=None))

means = []
for i in range(1,5):
    means.append(oneChoiceHundredBins[i - 1].loc[:,0].mean())
means

hundred_df = pd.DataFrame(
    {
        "nBalls": [10**i for i in range(1,5)],
        "meanGap": means,
        "nBins": [100 for i in range(1,5)],
    }
)
hundred_df

   nBalls  meanGap  nBins
0      10    1.297    100
1     100    3.243    100
2    1000    8.845    100
3   10000   25.913    100

In [29]:
oneChoiceThousandBins = []
for i in range (1,7):
    n = 10**i
    oneChoiceThousandBins.append(pd.read_csv("./mandatoryExperiments/oneChoiceThousandBins/oneChoice" + f"{n}" + ".txt", header=None))

means = []
for i in range(1,7):
    means.append(oneChoiceThousandBins[i - 1].loc[:,0].mean())
means

thousand_df = pd.DataFrame(
    {
        "nBalls": [10**i for i in range(1,7)],
        "meanGap": means,
        "nBins": [1000 for i in range(1,7)],
    }
)
thousand_df

    nBalls  meanGap  nBins
0       10    1.036   1000
1      100    2.036   1000
2     1000    4.488   1000
3    10000   11.814   1000
4   100000   33.828   1000
5  1000000  104.161   1000

In [75]:
alt.Chart(thousand_df).mark_line(point=alt.OverlayMarkDef(filled=False, fill="white")).encode(
    x=alt.X('nBalls:N', title='Number of balls'),
    y=alt.Y('meanGap:Q', title='Mean Gap'),
    tooltip= [alt.Tooltip('nBalls:N',title='Number of balls'), alt.Tooltip('meanGap:Q', title='Mean Gap')],
).properties(
    title='Thousand Bins'
)

alt.Chart(...)

In [25]:
oneChoiceTenThousandBins = []
for i in range (1,9):
    n = 10**i
    oneChoiceTenThousandBins.append(pd.read_csv("./mandatoryExperiments/oneChoiceTenThousandBins/oneChoice" + f"{n}" + ".txt", header=None))

means = []
for i in range(1,9):
    means.append(oneChoiceTenThousandBins[i - 1].loc[:,0].mean())
means

tenThousand_df = pd.DataFrame(
    {
        "nBalls": [10**i for i in range(1,9)],
        "meanGap": means,
        "nBins": [10000 for i in range(1,9)],
    }
)
tenThousand_df

      nBalls  meanGap  nBins
0         10    1.002  10000
1        100    1.403  10000
2       1000    2.716  10000
3      10000    5.691  10000
4     100000   14.351  10000
5    1000000   40.873  10000
6   10000000  124.680  10000
7  100000000  386.456  10000

In [85]:
alt.Chart(tenThousand_df).mark_line(point=alt.OverlayMarkDef(filled=False, fill="white")).encode(
    x=alt.X('nBalls:N', title='Number of balls'),
    y=alt.Y('meanGap:Q', title='Mean Gap'),
    tooltip= [alt.Tooltip('nBalls:N',title='Number of balls'), alt.Tooltip('meanGap:Q', title='Mean Gap')],
).properties(
    title='Thousand Bins'
)

alt.Chart(...)

In [38]:
oneChoice_df = pd.concat([tenThousand_df, thousand_df, hundred_df])
oneChoice_df

      nBalls  meanGap  nBins
0         10    1.002  10000
1        100    1.403  10000
2       1000    2.716  10000
3      10000    5.691  10000
4     100000   14.351  10000
5    1000000   40.873  10000
6   10000000  124.680  10000
7  100000000  386.456  10000
0         10    1.036   1000
1        100    2.036   1000
2       1000    4.488   1000
3      10000   11.814   1000
4     100000   33.828   1000
5    1000000  104.161   1000
0         10    1.297    100
1        100    3.243    100
2       1000    8.845    100
3      10000   25.913    100

In [40]:

twoChoiceHundredBins = []
for i in range (1,5):
    n = 10**i
    twoChoiceHundredBins.append(pd.read_csv("./mandatoryExperiments/twoChoiceHundredBins/twoChoice" + f"{n}" + ".txt", header=None))

means = []
for i in range(1,5):
    means.append(twoChoiceHundredBins[i - 1].loc[:,0].mean())
means

twoChoiceHundred_df = pd.DataFrame(
    {
        "nBalls": [10**i for i in range(1,5)],
        "meanGap": means,
        "nBins": [100 for i in range (1,5)],
    }
)
twoChoiceHundred_df

   nBalls  meanGap  nBins
0      10    0.924    100
1     100    1.569    100
2    1000    1.895    100
3   10000    1.907    100

In [89]:
alt.Chart(twoChoiceHundred_df).mark_line(point=alt.OverlayMarkDef(filled=False, fill="white")).encode(
    x=alt.X('nBalls:Q', title='Number of balls'),
    y=alt.Y('meanGap:Q', title='Mean Gap'),
    tooltip= [alt.Tooltip('nBalls:N',title='Number of balls'), alt.Tooltip('meanGap:Q', title='Mean Gap')],
).properties(
    title='Thousand Bins'
)

alt.Chart(...)

In [41]:

twoChoiceThousandBins = []
for i in range (1,7):
    n = 10**i
    twoChoiceThousandBins.append(pd.read_csv("./mandatoryExperiments/twoChoiceThousandBins/twoChoice" + f"{n}" + ".txt", header=None))

means = []
for i in range(1,7):
    means.append(twoChoiceThousandBins[i - 1].loc[:,0].mean())
means

twoChoiceThousand_df = pd.DataFrame(
    {
        "nBalls": [10**i for i in range(1,7)],
        "meanGap": means,
        "nBins": [1000 for i in range (1,7)],
    }
)
#twoChoiceThousand_df.to_csv("./mandatoryExperiments/twoChoiceThousandBins/means.csv")
twoChoiceThousand_df

    nBalls  meanGap  nBins
0       10    0.990   1000
1      100    1.173   1000
2     1000    2.006   1000
3    10000    2.086   1000
4   100000    2.058   1000
5  1000000    2.082   1000

In [96]:
alt.Chart(twoChoiceThousand_df).mark_line(point=alt.OverlayMarkDef(filled=False, fill="white")).encode(
    x=alt.X('nBalls:Q', title='Number of balls'),
    y=alt.Y('meanGap:Q', title='Mean Gap'),
    tooltip= [alt.Tooltip('nBalls:N',title='Number of balls'), alt.Tooltip('meanGap:Q', title='Mean Gap')],
).properties(
    title='Thousand Bins'
)

alt.Chart(...)

In [42]:

twoChoiceTenThousandBins = []
for i in range (1,9):
    n = 10**i
    twoChoiceTenThousandBins.append(pd.read_csv("./mandatoryExperiments/twoChoiceTenThousandBins/twoChoice" + f"{n}" + ".txt", header=None))

means = []
for i in range(1,9):
    means.append(twoChoiceTenThousandBins[i - 1].loc[:,0].mean())
means

twoChoiceTenThousand_df = pd.DataFrame(
    {
        "nBalls": [10**i for i in range(1,9)],
        "meanGap": means,
        "nBins": [10000 for i in range (1,9)],
    }
)
#twoChoiceTenThousand_df.to_csv("./mandatoryExperiments/twoChoiceTenThousandBins/means.csv")
twoChoiceTenThousand_df

      nBalls  meanGap  nBins
0         10    0.999  10000
1        100    0.994  10000
2       1000    1.860  10000
3      10000    2.056  10000
4     100000    2.505  10000
5    1000000    2.520  10000
6   10000000    2.513  10000
7  100000000    2.535  10000

In [105]:
alt.Chart(twoChoiceTenThousand_df).mark_line(point=alt.OverlayMarkDef(filled=False, fill="white")).encode(
    x=alt.X('nBalls:N', title='Number of balls'),
    y=alt.Y('meanGap:Q', title='Mean Gap'),
    tooltip= [alt.Tooltip('nBalls:N',title='Number of balls'), alt.Tooltip('meanGap:Q', title='Mean Gap')],
).properties(
    title='Thousand Bins'
)

alt.Chart(...)

In [43]:
twoChoice_df = pd.concat([twoChoiceTenThousand_df, twoChoiceThousand_df, twoChoiceHundred_df])
twoChoice_df

      nBalls  meanGap  nBins
0         10    0.999  10000
1        100    0.994  10000
2       1000    1.860  10000
3      10000    2.056  10000
4     100000    2.505  10000
5    1000000    2.520  10000
6   10000000    2.513  10000
7  100000000    2.535  10000
0         10    0.990   1000
1        100    1.173   1000
2       1000    2.006   1000
3      10000    2.086   1000
4     100000    2.058   1000
5    1000000    2.082   1000
0         10    0.924    100
1        100    1.569    100
2       1000    1.895    100
3      10000    1.907    100

In [46]:

betaChoiceHundredBins = []
for i in range (1,5):
    n = 10**i
    betaChoiceHundredBins.append(pd.read_csv("./mandatoryExperiments/betaChoiceHundredBins/betaChoice" + f"{n}" + "-0.25.txt", header=None))

means = []
for i in range(1,5):
    means.append(betaChoiceHundredBins[i - 1].loc[:,0].mean())
means

betaChoiceHundredBins025_df = pd.DataFrame(
    {
        "nBalls": [10**i for i in range(1,5)],
        "meanGap": means,
        "nBins": [100 for i in range(1,5)],
        "beta": [0.25 for i in range(1,5)],
    }
)
betaChoiceHundredBins025_df

   nBalls  meanGap  nBins  beta
0      10    1.183    100  0.25
1     100    2.824    100  0.25
2    1000    6.295    100  0.25
3   10000    9.672    100  0.25

In [48]:

betaChoiceHundredBins = []
for i in range (1,5):
    n = 10**i
    betaChoiceHundredBins.append(pd.read_csv("./mandatoryExperiments/betaChoiceHundredBins/betaChoice" + f"{n}" + "-0.5.txt", header=None))

means = []
for i in range(1,5):
    means.append(betaChoiceHundredBins[i - 1].loc[:,0].mean())
means

betaChoiceHundredBins05_df = pd.DataFrame(
    {
        "nBalls": [10**i for i in range(1,5)],
        "meanGap": means,
        "nBins": [100 for i in range(1,5)],
        "beta": [0.5 for i in range(1,5)],
    }
)
betaChoiceHundredBins05_df

   nBalls  meanGap  nBins  beta
0      10    1.133    100   0.5
1     100    2.457    100   0.5
2    1000    4.260    100   0.5
3   10000    4.578    100   0.5

In [51]:

betaChoiceHundredBins = []
for i in range (1,5):
    n = 10**i
    betaChoiceHundredBins.append(pd.read_csv("./mandatoryExperiments/betaChoiceHundredBins/betaChoice" + f"{n}" + "-0.75.txt", header=None))

means = []
for i in range(1,5):
    means.append(betaChoiceHundredBins[i - 1].loc[:,0].mean())
means

betaChoiceHundredBins075_df = pd.DataFrame(
    {
        "nBalls": [10**i for i in range(1,5)],
        "meanGap": means,
        "nBins": [100 for i in range(1,5)],
        "beta": [0.75 for i in range(1,5)],
    }
)
betaChoiceHundredBins075_df

   nBalls  meanGap  nBins  beta
0      10    1.012    100  0.75
1     100    2.064    100  0.75
2    1000    2.737    100  0.75
3   10000    2.743    100  0.75

In [62]:
betaChoiceHundredBins_df = pd.concat([betaChoiceHundredBins025_df, betaChoiceHundredBins05_df, betaChoiceHundredBins075_df])
betaChoiceHundredBins_df

   nBalls  meanGap  nBins  beta
0      10    1.183    100  0.25
1     100    2.824    100  0.25
2    1000    6.295    100  0.25
3   10000    9.672    100  0.25
0      10    1.133    100  0.50
1     100    2.457    100  0.50
2    1000    4.260    100  0.50
3   10000    4.578    100  0.50
0      10    1.012    100  0.75
1     100    2.064    100  0.75
2    1000    2.737    100  0.75
3   10000    2.743    100  0.75

In [53]:

betaChoiceThousandBins = []
for i in range (1,7):
    n = 10**i
    betaChoiceThousandBins.append(pd.read_csv("./mandatoryExperiments/betaChoiceThousandBins/betaChoice" + f"{n}" + "-0.25.txt", header=None))

means = []
for i in range(1,7):
    means.append(betaChoiceThousandBins[i - 1].loc[:,0].mean())
means

betaChoiceThousandBins025_df = pd.DataFrame(
    {
        "nBalls": [10**i for i in range(1,7)],
        "meanGap": means,
        "nBins": [1000 for i in range(1,7)],
        "beta": [0.25 for i in range(1,7)],
    }
)
betaChoiceThousandBins025_df

    nBalls  meanGap  nBins  beta
0       10    1.020   1000  0.25
1      100    1.964   1000  0.25
2     1000    3.984   1000  0.25
3    10000    8.724   1000  0.25
4   100000   13.812   1000  0.25
5  1000000   13.888   1000  0.25

In [54]:

betaChoiceThousandBins = []
for i in range (1,7):
    n = 10**i
    betaChoiceThousandBins.append(pd.read_csv("./mandatoryExperiments/betaChoiceThousandBins/betaChoice" + f"{n}" + "-0.5.txt", header=None))

means = []
for i in range(1,7):
    means.append(betaChoiceThousandBins[i - 1].loc[:,0].mean())
means

betaChoiceThousandBins05_df = pd.DataFrame(
    {
        "nBalls": [10**i for i in range(1,7)],
        "meanGap": means,
        "nBins": [1000 for i in range(1,7)],
        "beta": [0.5 for i in range(1,7)],
    }
)
betaChoiceThousandBins05_df

    nBalls  meanGap  nBins  beta
0       10    1.010   1000   0.5
1      100    1.873   1000   0.5
2     1000    3.413   1000   0.5
3    10000    5.904   1000   0.5
4   100000    6.444   1000   0.5
5  1000000    6.425   1000   0.5

In [57]:

betaChoiceThousandBins = []
for i in range (1,7):
    n = 10**i
    betaChoiceThousandBins.append(pd.read_csv("./mandatoryExperiments/betaChoiceThousandBins/betaChoice" + f"{n}" + "-0.75.txt", header=None))

means = []
for i in range(1,7):
    means.append(betaChoiceThousandBins[i - 1].loc[:,0].mean())
means

betaChoiceThousandBins075_df = pd.DataFrame(
    {
        "nBalls": [10**i for i in range(1,7)],
        "meanGap": means,
        "nBins": [1000 for i in range(1,7)],
        "beta": [0.75 for i in range(1,7)],
    }
)
betaChoiceThousandBins075_df

    nBalls  meanGap  nBins  beta
0       10    1.000   1000  0.75
1      100    1.709   1000  0.75
2     1000    2.802   1000  0.75
3    10000    3.742   1000  0.75
4   100000    3.778   1000  0.75
5  1000000    3.784   1000  0.75

In [65]:
betaChoiceThousandBins_df = pd.concat([betaChoiceThousandBins025_df, betaChoiceThousandBins05_df, betaChoiceThousandBins075_df])
betaChoiceThousandBins_df.to_csv("./mandatoryExperiments/betaChoiceThousandBins/means.csv")

In [104]:

betaChoiceTenThousandBins = []
for i in range (1,9):
    n = 10**i
    betaChoiceTenThousandBins.append(pd.read_csv("./mandatoryExperiments/betaChoiceTenThousandBins/betaChoice" + f"{n}" + "-0.25.txt", header=None))

means = []
for i in range(1,9):
    means.append(betaChoiceTenThousandBins[i - 1].loc[:,0].mean())
means

betaChoiceTenThousandBins025_df = pd.DataFrame(
    {
        "nBalls": [10**i for i in range(1,9)],
        "meanGap": means,
        "nBins": [10000 for i in range(1,9)],
        "beta": [0.25 for i in range(1,9)],
    }
)
betaChoiceTenThousandBins025_df

      nBalls  meanGap  nBins  beta
0         10    1.000  10000  0.25
1        100    1.281  10000  0.25
2       1000    2.490  10000  0.25
3      10000    5.092  10000  0.25
4     100000   10.803  10000  0.25
5    1000000   17.704  10000  0.25
6   10000000   18.243  10000  0.25
7  100000000   18.189  10000  0.25

In [103]:

betaChoiceTenThousandBins = []
for i in range (1,9):
    n = 10**i
    betaChoiceTenThousandBins.append(pd.read_csv("./mandatoryExperiments/betaChoiceTenThousandBins/betaChoice" + f"{n}" + "-0.5.txt", header=None))

means = []
for i in range(1,9):
    means.append(betaChoiceTenThousandBins[i - 1].loc[:,0].mean())
means

betaChoiceTenThousandBins05_df = pd.DataFrame(
    {
        "nBalls": [10**i for i in range(1,9)],
        "meanGap": means,
        "nBins": [10000 for i in range(1,9)],
        "beta": [0.5 for i in range(1,9)],
    }
)
betaChoiceTenThousandBins05_df

      nBalls  meanGap  nBins  beta
0         10    0.999  10000   0.5
1        100    1.211  10000   0.5
2       1000    2.240  10000   0.5
3      10000    4.337  10000   0.5
4     100000    7.490  10000   0.5
5    1000000    8.241  10000   0.5
6   10000000    8.246  10000   0.5
7  100000000    8.275  10000   0.5

In [99]:

betaChoiceTenThousandBins = []
for i in range (1,9):
    n = 10**i
    betaChoiceTenThousandBins.append(pd.read_csv("./mandatoryExperiments/betaChoiceTenThousandBins/betaChoice" + f"{n}" + "-0.75.txt", header=None))

means = []
for i in range(1,9):
    means.append(betaChoiceTenThousandBins[i - 1].loc[:,0].mean())
means

betaChoiceTenThousandBins075_df = pd.DataFrame(
    {
        "nBalls": [10**i for i in range(1,9)],
        "meanGap": means,
        "nBins": [10000 for i in range(1,9)],
        "beta": [0.75 for i in range(1,9)],
    }
)
betaChoiceTenThousandBins075_df

      nBalls  meanGap  nBins  beta
0         10    1.000  10000  0.75
1        100    1.091  10000  0.75
2       1000    2.017  10000  0.75
3      10000    3.479  10000  0.75
4     100000    4.694  10000  0.75
5    1000000    4.777  10000  0.75
6   10000000    4.759  10000  0.75
7  100000000    4.761  10000  0.75

In [105]:
betaChoiceTenThousandBins_df = pd.concat([betaChoiceTenThousandBins025_df, betaChoiceTenThousandBins05_df, betaChoiceTenThousandBins075_df])
betaChoiceTenThousandBins_df.to_csv("./mandatoryExperiments/betaChoiceTenThousandBins/means.csv")

In [87]:
#oneChoice_beta_df = oneChoice_df.insert(3, "beta", [0 for i in range(0,len(oneChoice_df['nBins']))])
oneChoice_df

      nBalls  meanGap  nBins  beta
0         10    1.002  10000     0
1        100    1.403  10000     0
2       1000    2.716  10000     0
3      10000    5.691  10000     0
4     100000   14.351  10000     0
5    1000000   40.873  10000     0
6   10000000  124.680  10000     0
7  100000000  386.456  10000     0
0         10    1.036   1000     0
1        100    2.036   1000     0
2       1000    4.488   1000     0
3      10000   11.814   1000     0
4     100000   33.828   1000     0
5    1000000  104.161   1000     0
0         10    1.297    100     0
1        100    3.243    100     0
2       1000    8.845    100     0
3      10000   25.913    100     0

In [90]:
twoChoice_df

      nBalls  meanGap  nBins  beta
0         10    0.999  10000     1
1        100    0.994  10000     1
2       1000    1.860  10000     1
3      10000    2.056  10000     1
4     100000    2.505  10000     1
5    1000000    2.520  10000     1
6   10000000    2.513  10000     1
7  100000000    2.535  10000     1
0         10    0.990   1000     1
1        100    1.173   1000     1
2       1000    2.006   1000     1
3      10000    2.086   1000     1
4     100000    2.058   1000     1
5    1000000    2.082   1000     1
0         10    0.924    100     1
1        100    1.569    100     1
2       1000    1.895    100     1
3      10000    1.907    100     1

In [106]:
mandatoryExperiments_df = pd.concat([oneChoice_df,twoChoice_df, betaChoiceHundredBins_df, betaChoiceThousandBins_df, betaChoiceTenThousandBins_df])
pd.set_option('display.max_rows', 500)
mandatoryExperiments_df.sort_values(by=['nBalls','nBins','beta'])

      nBalls  meanGap  nBins  beta
0         10    1.297    100  0.00
0         10    1.183    100  0.25
0         10    1.133    100  0.50
0         10    1.012    100  0.75
0         10    0.924    100  1.00
0         10    1.036   1000  0.00
0         10    1.020   1000  0.25
0         10    1.010   1000  0.50
0         10    1.000   1000  0.75
0         10    0.990   1000  1.00
0         10    1.002  10000  0.00
0         10    1.000  10000  0.25
0         10    0.999  10000  0.50
0         10    1.000  10000  0.75
0         10    0.999  10000  1.00
1        100    3.243    100  0.00
1        100    2.824    100  0.25
1        100    2.457    100  0.50
1        100    2.064    100  0.75
1        100    1.569    100  1.00
1        100    2.036   1000  0.00
1        100    1.964   1000  0.25
1        100    1.873   1000  0.50
1        100    1.709   1000  0.75
1        100    1.173   1000  1.00
1        100    1.403  10000  0.00
1        100    1.281  10000  0.25
1        100    1.211  10000  0.50
1        100    1.091  10000  0.75
1        100    0.994  10000  1.00
2       1000    8.845    100  0.00
2       1000    6.295    100  0.25
2       1000    4.260    100  0.50
2       1000    2.737    100  0.75
2       1000    1.895    100  1.00
2       1000    4.488   1000  0.00
2       1000    3.984   1000  0.25
2       1000    3.413   1000  0.50
2       1000    2.802   1000  0.75
2       1000    2.006   1000  1.00
2       1000    2.716  10000  0.00
2       1000    2.490  10000  0.25
2       1000    2.240  10000  0.50
2       1000    2.017  10000  0.75
2       1000    1.860  10000  1.00
3      10000   25.913    100  0.00
3      10000    9.672    100  0.25
3      10000    4.578    100  0.50
3      10000    2.743    100  0.75
3      10000    1.907    100  1.00
3      10000   11.814   1000  0.00
3      10000    8.724   1000  0.25
3      10000    5.904   1000  0.50
3      10000    3.742   1000  0.75
3      10000    2.086   1000  1.00
3      10000    5.691  10000  0.00
3      10000    5.092  10000  0.25
3      10000    4.337  10000  0.50
3      10000    3.479  10000  0.75
3      10000    2.056  10000  1.00
4     100000   33.828   1000  0.00
4     100000   13.812   1000  0.25
4     100000    6.444   1000  0.50
4     100000    3.778   1000  0.75
4     100000    2.058   1000  1.00
4     100000   14.351  10000  0.00
4     100000   10.803  10000  0.25
4     100000    7.490  10000  0.50
4     100000    4.694  10000  0.75
4     100000    2.505  10000  1.00
5    1000000  104.161   1000  0.00
5    1000000   13.888   1000  0.25
5    1000000    6.425   1000  0.50
5    1000000    3.784   1000  0.75
5    1000000    2.082   1000  1.00
5    1000000   40.873  10000  0.00
5    1000000   17.704  10000  0.25
5    1000000    8.241  10000  0.50
5    1000000    4.777  10000  0.75
5    1000000    2.520  10000  1.00
6   10000000  124.680  10000  0.00
6   10000000   18.243  10000  0.25
6   10000000    8.246  10000  0.50
6   10000000    4.759  10000  0.75
6   10000000    2.513  10000  1.00
7  100000000  386.456  10000  0.00
7  100000000   18.189  10000  0.25
7  100000000    8.275  10000  0.50
7  100000000    4.761  10000  0.75
7  100000000    2.535  10000  1.00

In [107]:
mandatoryExperiments_df.to_csv("./mandatoryExperiments/globalmeans.csv")